@import "../dimensions.less";
@import "../fonts.less";

.dynamic-graphical-list-outer-east {
	left: 0;
	top: @theme-header-mobile-height;
	width: 100vw;
	max-width: 100vw;
	height: calc(~"100vh - @{theme-header-mobile-height}");
}

.dynamic-graphical-list-outer-west {
	right: 0;
	top: @theme-header-mobile-height;
	width: 100vw;
	max-width: 100vw;
	height: calc(~"100vh - @{theme-header-mobile-height}");
}

.dynamic-graphical-list-outer-south {
	left: 0;
	top: @theme-header-mobile-height;
	width: 100vw;
	max-width: 100vw;
	height: calc(~"100vh - @{theme-header-mobile-height}");
}

.dynamic-graphical-list-outer-north {
	left: 0;
	top: @theme-header-mobile-height;
	width: 100vw;
	max-width: 100vw;
	height: calc(~"100vh - @{theme-header-mobile-height}");
}
