@import "../dimensions.less";
@import "../fonts.less";

.dynamic-graphical-list-outer-west.dynamic-graphical-list-outer{
	.bs-flyout-two-columns.x-panel.x-panel-default {
		padding-top:  1.25rem;
		margin-left:  1.25rem;
		margin-right:  1.25rem;

		.x-btn-inner-default-small {
			font-weight: 400;
		}
	}
	// common
	.x-panel-header.x-header {
		padding-left: 0;
		.x-title.x-panel-header-title.x-panel-header-title-default {
			.x-title-text.x-title-text-default.x-title-item {
				font-weight: @font-weight-regular;
				text-align: left;
			}
		}
	}
}
