body {
	&.navigation-main-collapse .navigation-main.active,
	.navigation-main {
		top: @menu-top-height + @banner-top-height;
		width: @navigation-main-width;
		#bs-sitenavtabs {
			ul.nav-pills li.calumma-navigation-mobile-hidden {
				display: block;
			}
			ul.nav-pills a > i::before {
				font-size: 150%;
			}
		}
	}
}

