body .sitetools-main,
body .sitetools-main.active {
	.sidebar-toggle[data-toggle~="sitetools-main-collapse"]{
		display: block;
		position: fixed;
		width: 3rem;
		padding: 0.625rem;
		right: @sitetools-main-width;
		top: @menu-top-height + @banner-top-height;
		transition: right .3s;
		z-index: 11;
		i.sitetools-main-collapse::before{
			font-family: 'entypo';
			content: "\e93c";
			font-style: initial;
			font-size: 1.3125rem;
			line-height: 2.1rem;
			transition: font-size .1s;
			transition-delay: .3s;
			color: @sitetools-toggle-btn-color;
			float: right;
			font-style: normal;
		}
		&:hover{
			text-decoration: none;
			background-color: transparent;
			i.sitetools-main-collapse::before{
				color: @sitetools-toggle-btn-color-hover;
			}
		}
		&:focus{
			text-decoration: none;
		}
	}
}

body.sitetools-main-collapse {
	.sidebar-toggle[data-toggle~="sitetools-main-collapse"]{
		right: 0;
		transition: right .3s;
		width: 5rem;
		i.sitetools-main-collapse::before{
			font-size: 1.9375rem;
			float: left;
			transition: font-size .1s;
			transition-delay: .3s;
		}
	}
}