header .navbar .p-search form {
	left: @navigation-main-width;
	top: @menu-top-items-margin;
	padding-left: calc(~"( 50vw - 46.562rem )");
	width: calc(~"100% + 1.25rem") !important;
	max-width: 43.625rem !important;

	.form-group{
		& > #bs-extendedsearch-input {
			min-width: 39.6875rem !important;
			width: 100%;
			max-width: 40.625rem !important;
		}

		#bs-extendedsearch-box-wrapper {
			min-width: 39.6875rem !important;
			max-width: 40.625rem !important;

			input.form-control{
				width: 100% !important;
			}
		}

		.bs-extendedsearch-autocomplete-popup {
			min-width: 42.6875rem !important;
			max-width: 43.625rem !important;

			.bs-extendedsearch-autocomplete-popup-create-page-link {
				&,
				a {
					height: auto;
					min-height: 2.5rem;
				}
			}


			.bs-extendedsearch-autocomplete-popup-special-item-label {
				min-height: 2.5rem;
				height: auto;
			}
		}
	}
}