header{
	.bs-featured-actions{
		left: calc(~"( ( 100vw - @{bs-content-width} ) / 2 ) + @{bs-content-width} - 12.5rem");

		.dropdown.open{
			.dropdown-menu {
				top: 2.8125rem;
			}
			.dropdown-menu::before {
				top: -0.9em;
				left: 2rem;
				height: 1em;
			}
		}
	}
}
