body{
	.sidebar-toggle[data-toggle~="sitetools-main-collapse"]{
		display: block;
		position: fixed;
		padding: 1em;
		right: 300px;
		top: @menu-top-height + @banner-top-height;
		transition: right .3s;
		z-index: 11;
		i.sitetools-main-collapse::before{
			font-family: 'bs-button';
			content: "\e901";
			font-style: initial;
			font-size: 1.5em;
			color: @sitetools-toggle-btn-color;
			float: right;
			font-style: normal;
		}
		&:hover{
			text-decoration: none;
			i.sitetools-main-collapse::before{
				color: @sitetools-toggle-btn-color-hover;
			}
		}
		&:focus{
			text-decoration: none;
		}
	}
}

body.sitetools-main-collapse{
	.sidebar-toggle[data-toggle~="sitetools-main-collapse"]{
		display: block;
		position: fixed;
		padding: 1em;
		right: 0px;
		top: @menu-top-height + @banner-top-height;
		transition: right .3s;
		z-index: 11;
		i.sitetools-main-collapse::before{
			font-family: 'bs-button';
			content: "\e901";
			font-style: initial;
			font-size: 1.5em;
			color: @sitetools-toggle-btn-color;
			float: right;
			font-style: normal;
		}
		&:hover{
			text-decoration: none;
			i.sitetools-main-collapse::before{
				color: @sitetools-toggle-btn-color-hover;
			}
		}
		&:focus{
			text-decoration: none;
		}
	}
}

body{
	.sitetools-main{
		top: @menu-top-height + @banner-top-height;
		width: @sitetools-main-width;
		display: inline-flex;
		position: fixed;
		#bs-toolpanetabs ul.nav-pills a > i::before {
			font-size: 1.5em;
		}
		.bs-panel.panel-default .panel-heading,
		.panel-heading .panel-title a,
		.panel-heading .bs-panel-title a{
			i.icon-{
				display: none;
			}
		}
	}

	.sitetools-main-fixed{
		.sitetools-main{
			display: inline-flex;
			position: fixed;
		}
	}
}
