body{
	.sidebar-toggle[data-toggle~="navigation-main-collapse"]{
		display: none;
	}
	.sidebar-toggle[data-toggle~="navigation-main-sticky"]{
		position: fixed;
		padding: 1em;
		left: 300px;
		top: @menu-top-height + @banner-top-height;
		transition: left .3s;
		z-index: 12;
		i.navigation-main-sticky::before{
			font-family: 'entypo';
			content: "\e9f6";
			font-style: normal;
			font-size: 1.2em;
			line-height: 1.8em;
			text-align: center;
			color: @navigation-sticky-btn-color;
			background-color: @navigation-sticky-btn-bg-color;
			float: left;
			height: 32px;
			width: 32px;
			border-radius: 16px;
			padding: 0;
		}
		&:hover{
			text-decoration: none;
			i.navigation-main-sticky::before{
				background-color: @navigation-sticky-btn-bg-color-hover;
			}
		}
		&:focus{
			text-decoration: none;
		}
	}
}
body.navigation-main-sticky {
	.sidebar-toggle[data-toggle~="navigation-main-sticky"]{
		i.navigation-main-sticky::before{
			background-color: @navigation-sticky-btn-bg-color-active;
		}
		&:hover{
			text-decoration: none;
			i.navigation-main-sticky::before{
				background-color: @navigation-sticky-btn-bg-color-hover;
			}
		}
	}
}

body.navigation-main-collapse {
	.sidebar-toggle[data-toggle~="navigation-main-sticky"]{
		display: none;
	}
	.sidebar-toggle[data-toggle~="navigation-main-collapse"]{
		display: block;
		position: fixed;
		padding: 1em;
		left: 0;
		top: @menu-top-height + @banner-top-height;
		transition: left .3s;
		z-index: 12;
		i.navigation-main-collapse::before{
			font-family: 'bs-button';
			content: "\e902";
			font-style: normal;
			font-size: 1.5em;
			color: @navigation-toggle-btn-color;
			float: left;
		}
		&:hover{
			text-decoration: none;
			i.navigation-main-collapse::before{
				color: @navigation-toggle-btn-color-hover;
			}
		}
		&:focus{
			text-decoration: none;
		}
	}
}

body{
	.navigation-main{
		top: @menu-top-height + @banner-top-height;
		width: @navigation-main-width;
		#bs-sitenavtabs {
			ul.nav-pills li.calumma-navigation-mobile-hidden {
				display: block;
			}
			ul.nav-pills a > i::before {
				font-size: 150%;
			}
			div.tab-content{
				height: calc(~"100vh - 150px");
			}
		}
		a span {
			line-height: 12px;
		}
		a.list-group-item {
			height: 32px;
			line-height: 12px;
		}
		.panel-heading .panel-title a,
		.panel-heading .bs-panel-title a{
			height: 32px;
			line-height: 12px;
			span.title {
				line-height: 12px;
			}
		}
	}
}


#bs-mediawiki-sidebar{
	.panel-heading{
		display: block;
	}
	&>.panel-heading{
		display: none;
	}
}
