header .navbar .p-search form {
	padding-left: 3.5rem;
	width: calc(~"100% + 1.875rem") !important;
	max-width: calc(~"50vw - 12.5rem") !important;

	.form-group{
		& > #bs-extendedsearch-input {
			max-width: calc(~"50vw - 12.5rem") !important;
		}

		#bs-extendedsearch-box-wrapper {
			min-width: 240px !important;
			width: 100% !important;
			max-width: calc(~"50vw - 12.5rem") !important;
		}

		.bs-extendedsearch-autocomplete-popup {
			min-width: 288px !important;
			width: calc(~"100% + 3rem") !important;
			max-width: calc(~"50vw  - 12.5rem") !important;
		}
	}
}