body.mediawiki,
body.mediawiki.x-body {
	@btn-width: 4rem;
	@wrapper-padding: 0.3125rem;

	&:not( .navigation-main-collapse ):not( .sitetools-main-collapse ) {
		.bs-content.container {
			@container-width: "( 100vw - @{navigation-main-width} - @{sitetools-main-width} - 2 * @{btn-width} - 2 * @{wrapper-padding} )";
			width: calc( ~"@{container-width}" );
		}
	}

	/* collapsing elements */
	&.navigation-main-collapse.sitetools-main-collapse {
		.bs-content.container {
			width: calc( ~"100vw - 2 * @{btn-width}" );
		}
	}

	&:not( .navigation-main-collapse ).sitetools-main-collapse {
		.bs-content.container {
			@container-width: calc(~"100vw - 2 * @{btn-width} - @{navigation-main-width} - 2 * @{wrapper-padding}");
			width: @container-width;
			margin-left: calc(~"( 100vw + @{navigation-main-width} - @{container-width} ) / 2");
		}
	}

	&:not( .sitetools-main-collapse ).navigation-main-collapse {
		.bs-content.container {
			@container-width: calc(~"100vw - 2 * @{btn-width} - @{sitetools-main-width} - 2 * @{wrapper-padding}");
			width: @container-width;
			margin-right: calc(~"( 100vw + @{sitetools-main-width} - @{container-width} ) / 2");
		}
	}
}
