header.main-header .calumma-desktop-visible.navbar .p-search form {
	border: none;
	position: absolute;
	padding: 0px;
	left: 300px;
	top: @menu-top-items-margin;
	.form-group{
		width: 100%;
		display: inline-flex;
		input.form-control{
			width: calc(~"100vw - 690px")  !important;
			max-width: 836px - 200px;
			box-shadow: none;
		}
	}
}

// user not logged in
body.calumma-not-logged-in {
	header.main-header .calumma-desktop-visible.navbar .p-search form {
		.form-group{
			input.form-control{
				max-width: 980px;
				width: calc(~"100vw - 500px") !important;
			}
		}
	}
}
