.calumma-desktop-visible {
	.bs-logo {
		width: calc(~"300px - 1em");
		float: left;
		a{
			background-repeat: no-repeat;
			background-position-x: 0;
			width: 100%;
			height: @menu-top-height;
			display: block;
		}
	}
}
