header.main-header .calumma-desktop-visible.navbar .p-search form {
	border: none;
	position: absolute;
	padding: 0px;
	left: 300px;
	top: @menu-top-items-margin;
	.form-group{
		width: 100%;
		display: inline-flex;
		input.form-control{
			width: calc(~"100vw - 690px")  !important;
			max-width: 836px - 200px;
			box-shadow: none;
		}
	}
}
