body{
	.navigation-main{
		top: @menu-top-mobile-height;
		width: @navigation-main-width;
		.nav.nav-pills,
		div.tab-content{
			width: 100%;
		}
		.tab-pane.active {
			.bs-calumma-sidebar-edit-link {
				display: none;
			}
			&:hover .bs-calumma-sidebar-edit-link {
				display: block;
			}
		}
		a span {
			line-height: 26px;
		}
	}
}
