.navigation-main {
	.panel,
	.bs-panel {
		&.panel-default {
			.panel-heading {
				.panel-title,
				.bs-panel-title {
					a {
						height: 3rem;
						line-height: 1.625rem;

						i.trigger-icon,
						span.title {
							line-height: 1.625rem;
						}
					}

					.trigger.body {
						float: right;
						height: 100%;
						i.trigger-icon::after {
							content: "\e92c";
							font-family: "entypo";
							float: right;
							font-style: normal;
							padding-right: 1em;
							line-height: 1.625rem
						}
					}
					.collapsed .trigger.body {
						i.trigger-icon::after{
							content: "\e921";
						}
					}
				}
			}
		}

		/* list-group-item */
		.list-group {
			a.list-group-item {
				height: 3rem;
				line-height: 1.75rem;
				padding-top: 0.625rem;
				padding-bottom: 0;
			}
		}
	}
}