.sitetools-main{
	top: @menu-top-mobile-height;
	width: @sitetools-main-width;
	display: inline-flex;
	position: fixed;

	#bs-toolpanetabs {
		ul.nav-pills li.calumma-navigation-mobile-hidden {
			display: none;
		}

		ul.nav-pills a > i::before {
			font-size: 2em;
		}
	}

}