.navigation-main {
	top: @menu-top-mobile-height;
	z-index: 100;
	width: @navigation-main-width;

	#bs-sitenavtabs {
		ul.nav-pills li.calumma-navigation-mobile-hidden {
			display: none;
		}

		ul.nav-pills a > i::before {
			font-size: 2em;
		}
	}

	#bs-sitenav-navigation {
		#bs-mobile-user-container {
			display: block;

			.bs-mobile-user-button.dropdown {
				a.dropdown-toggle {
					line-height: 3rem;
					height: 3rem;
					background-color: transparent;

					span {
						display: inline-flex;
						justify-content: space-between;
						width: calc(~"100% 0.5625rem");
						line-height: 3rem;

						&::after {
							content: "\e923";
							font-family: "entypo";
							font-style: normal;
						}
					}

					&:hover {
						background-color: @navigation-bg-color-hover;
					}
				}

				a.bs-personal-not-loggedin {
					background-color: transparent;
					border: none;
					border-radius: 0;
					height: 3rem;
					line-height: 1.75rem;
					padding-top: 0.625rem;

					&:hover {
						background-color: @navigation-bg-color-hover;
					}
				}
			}
		}
	}
}
