#bs-mobile-user-container {
	display: block;
	.bs-personal-menu-container.dropdown-menu {
		top: @menu-top-mobile-height;
		height: calc(~"100vh - @{menu-top-mobile-height}");
		width: @navigation-main-width;
	}
}
