body{
	.navigation-main{
		top: @menu-top-mobile-height;
		width: @navigation-main-width;
		.nav.nav-pills,
		div.tab-content{
			width: 100%;
		}
		#bs-sitenav-navigation {
			.bs-link-edit-mediawiki-sidebar {
				display: block;
			}
		}
		#bs-nav-section-bs-usersidebar {
			div.bs-usersidebar-editlink {
				display: block;
			}
		}
		a span {
			line-height: 26px;
		}
	}
}