.navigation-main-collapse.sitetools-main-collapse {
	.content-wrapper {
		padding-left: 0px;
		padding-right: 0px;
	}
	.bs-content.container {
	}
}

.sitetools-main-collapse {
	.content-wrapper {
		padding-right: 50px;
		transition: padding .3s;
	}
	.bs-content.container {
	}
}

.navigation-main-collapse {
	.content-wrapper {
		transition: padding .3s;
		padding-left: 0px;
		padding-right: 343px;
	}
	.bs-content.container {
		margin-left: auto;
	}
}
.content-wrapper {
	transition: padding .3s;
	padding-left: 343px;
	padding-right: 343px;
	padding-top: @menu-top-mobile-height;
}
.bs-content.container {
	width: auto;
	max-width: 980px;
	margin-left: auto;
}

.loader-indicator.loading {
	top: @menu-top-mobile-height + @banner-top-height;
}