.navigation-main-collapse.sitetools-main-collapse {
	.content-wrapper {
		padding-left: 5px;
		padding-right: 5px;
	}
	.bs-content.container {
	}
}

.sitetools-main-collapse {
	.content-wrapper {
		padding-right: 5px;
		transition: padding .3s;
	}
	.bs-content.container {
	}
}

.navigation-main-collapse {
	.content-wrapper {
		transition: padding .3s;
		padding-left: 5px;
		padding-right: 305px;
	}
	.bs-content.container {
		margin-left: auto;
	}
}
.content-wrapper {
	transition: padding .3s;
	padding-left: 305px;
	padding-right: 305px;
	padding-top: @menu-top-mobile-height;
}
.bs-content.container {
	width: auto;
	max-width: 980px;
	margin-left: auto;
}