<div id="p-logo" class="bs-logo" role="banner">
	{{#items}}
	<a title="{{title}}" aria-label="{{title}}" alt="{{title}}" href="{{href}}" class="mw-wiki-logo {{class}}" style="background-image: url('{{src}}')"></a>
	{{/items}}
</div>
