<div id="siteNotice">{{{sitenotice}}}</div>
<div class="bs-page-breadcrumbs pull-left">{{{breadcrumbs}}}</div>
<div class="bs-page-tools pull-right">{{{tools}}}</div>
<div class="visualClear"></div>
<h1 id="firstHeading" class="firstHeading" lang="{{{lang}}}">{{{firstheading}}}</h1>
<div class="mw-indicators mw-body-content">
	{{#indicators}}
	{{/indicators}}
</div>
<div id="mw-page-header-links">{{{headerlinks}}}</div>
<div class="visualClear"></div>
