.navigation-main {
	.panel,
	.bs-panel {
		&.panel-default {
			padding: 0px;
			background-color: transparent;

			.panel-heading {
				padding: 0px;
				border: none;
				border-radius: 0px;
				background-color: transparent;

				.panel-title {
					a {
						color: @navigation-color;
					}

					&:hover a {
						color: @navigation-color-hover;
						background-color: @navigation-bg-color-hover;
					}
					a::after {
						content: "\e92c";
						font-family: "entypo";
						float: right;
						padding-right: 1em;
					}
					a.collapsed::after {
						content: "\e921";
						font-family: "entypo";
						float: right;
						padding-right: 1em;
					}
				}

				.bs-panel-title {
					.trigger.flyout{
						i.trigger-icon::after{
							content: "\e923";
							font-family: "entypo";
							float: right;
							margin-right: 10px;
						}
					}

					.trigger.body{
						float: right;
						height: 100%;
						i.trigger-icon::after{
							content: "\e92c";
							font-family: "entypo";
							float: right;
							font-style: normal;
							padding-right: 1em;
							line-height: 12px;
						}
					}

					.collapsed .trigger.body{
						i.trigger-icon::after{
							content: "\e921";
						}
					}
				}

				.panel-title,
				.bs-panel-title {
					a {
						color: @navigation-color;
						padding: 10px 0px 10px 10px;
					}

					&:hover a {
						color: @navigation-color-hover;
						background-color: @navigation-bg-color-hover;
					}
				}

				&.dynamic-graphical-list-visible .bs-panel-title {
					a {
						background-color: @navigation-graphicallist-bg-color;
					}
					.trigger.flyout{
						i.trigger-icon::after{
							content: "\e922";
							font-family: "entypo";
							float: right;
							margin-right: 10px;
							line-height: 12px;
						}
					}
				}
			}
		}

		/* list-group-item */
		.list-group {
			a.list-group-item {
				span {
				}

				i {
					float: left;
					color: @navigation-color;
				}

				&:hover {
					background-color: @navigation-bg-color-hover;

					i {
						color: @navigation-color-hover;
					}
				}

				&.dynamic-graphical-list-visible {
					background-color: @navigation-graphicallist-bg-color;
				}
			}
		}
	}
}