.sitetools-main {
	.panel,
	.bs-panel {
		&.panel-default {
			padding: 0;
			background-color: transparent;

			.panel-heading {
				padding: 0;
				border: none;
				border-radius: 0;
				background-color: transparent;

				.panel-title {
					a {
					}

					a::before {
						content: "\e92c";
						font-family: "entypo";
						float: left;
						padding-right: 1em;
					}

					a.collapsed::before {
						content: "\e921";
						font-family: "entypo";
						float: left;
						padding-right: 1em;
					}
				}

				.bs-panel-title {
					.trigger.body ~ span.title {
						margin-left: 2.5rem;
					}

					.trigger.flyout{
						i.trigger-icon {
							&::before{
								content: "\e922";
								font-family: "entypo";
								float: left;
								margin-right: 0.625rem;
								line-height: 0.75rem;
							}
						}
					}

					.trigger.body{
						float: right;
						height: 2rem;
						width: 100%;
						line-height: 0.75rem;
						border-radius: 0;

						i.trigger-icon::before{
							content: "\e92c";
							font-family: "entypo";
							float: left;
							font-style: normal;
							padding-right: 1em;
							line-height: 0.75rem;
						}
					}

					.collapsed .trigger.body{
						i.trigger-icon::before{
							content: "\e921";
						}
					}
				}

				.panel-title,
				.bs-panel-title {
					a{
						padding: 0.625rem 0.43rem 0.625rem 0.93rem;
						color: @sitetools-color;
						background-color: transparent;
						height: 2rem;
						line-height: 0.75rem;

						span{
							&.title {
								width: auto;
								margin-left: 0.625rem;
								display: inline-block;
							}
						}
					}

					&:hover a {
						color: @sitetools-color-hover;
						background-color: @sitetools-bg-color-hover;
					}
				}
			}

			.flyout-body-hint {
				margin-top: 0.31rem;
				margin-left: 2.187rem;
			}
		}

		/* list-group-item */
		.list-group {
			a.list-group-item {
				padding-left: 2.125rem;

				span {
				}

				i {
				}

				i:not(.pull-right) {
					padding-left: 1.5rem;
				}

				&:hover {
					background-color: @sitetools-bg-color-hover;

					i {
						color: @sitetools-color-hover;
					}
				}

				&.dynamic-graphical-list-visible {
					background-color: @sitetools-graphicallist-bg-color;
				}
			}
		}
	}
}