.bs-data-before-content {
	color: @bs-color-primary;
	a {
		color: @bs-color-primary;
		&:active,
		&:hover,
		&:focus {
			color: @bs-color-primary;
			text-decoration: none;
		}
	}
	.bs-breadcrumbs-namespace-seperator::after{
		content: ":";
	}
	.bs-breadcrumbs-seperator::after{
		content: "/";
	}
}
