.main-footer{
	display: flex;
	justify-content: space-between;
	clear:both;
	padding-top: 0.625rem;
	border-top: 1px solid black;

	#footer-places {
		padding-left: 0.3125rem;
		li {
			line-height: 1.687rem;
		}
	}
}
