/* fullscreen */

.calumma-full-screen-button {
	height: 0.937rem;
	line-height: 0.625rem;
	padding-top: 0.125rem;
	top: 0;
	position: absolute;
	z-index: 101;
	cursor: pointer;
	display: block;
	right: 7.5rem;

	&.bs-full-screen-mode {

		i::before {
			content: "\f066";
			font-family: "fontawesome" !important;
			font-style: normal;
			padding-left: 0.187rem;
			padding-right: 0.187rem;
			color: @custom-menu-header-bg-color;
		}

		&:hover {
			text-decoration: none;
		}

		&:focus {
			text-decoration: none;
		}

	}

	i::before {
		content: "\f065";
		font-family: "fontawesome" !important;
		font-style: normal;
		padding-left: 0.187rem;
		padding-right: 0.187rem;
		color: @custom-menu-header-bg-color;
	}

	&:hover {
		text-decoration: none;
	}

	&:focus {
		text-decoration: none;
	}
}