/* fullscreen */

.calumma-full-screen-button {
	height: 15px;
	line-height: 10px;
	padding-top: 2px;
	top: 0;
	position: absolute;
	z-index: 101;
	cursor: pointer;
	display: block;
	right: 120px;

	&.bs-full-screen-mode {

		i::before {
			content: "\f066";
			font-family: "fontawesome" !important;
			font-style: normal;
			padding-left: 3px;
			padding-right: 3px;
			color: @custom-menu-header-bg-color;
		}

		&:hover {
			text-decoration: none;
		}

		&:focus {
			text-decoration: none;
		}

	}

	i::before {
		content: "\f065";
		font-family: "fontawesome" !important;
		font-style: normal;
		padding-left: 3px;
		padding-right: 3px;
		color: @custom-menu-header-bg-color;
	}

	&:hover {
		text-decoration: none;
	}

	&:focus {
		text-decoration: none;
	}
}