
.bs-mobile-featured-actions-button {
	position: fixed;
	right: 1.25rem;
	bottom: 1.25rem;
	z-index: 15;

	& > i {
		height:  3rem;
		width:  3rem;
		color: @mobile-more-menu-dropdown-color;
		background-color: @mobile-more-menu-dropdown-bg-color;
		border-radius: 1.5rem;
		display: block;
		text-align: center;

		&::before {
			font-family: 'entypo';
			content: "\e9f7";
			font-weight: 700;
			font-size: 1.5625rem !important;
			font-style: normal;
		}
	}

	&:hover {
		text-decoration: none;
	}
}