.bs-mobile-featured-actions-button {
	z-index: 10;
	& > i {
		color: @theme-mobile-featured-actions-button-fg-color;
		background-color: @theme-mobile-featured-actions-button-bg-color;
		&:hover {
			color: @theme-mobile-featured-actions-button-fg-color-hover;
			background-color: @theme-mobile-featured-actions-button-bg-color-hover;
		}
	}
}
