body div.bs-mobile-more-menu {
	a.bs-mobile-more-menu-button {
		position: fixed;
		right: 2.5vw;
		bottom: 15vw;
		padding: 0;
		&:hover {
			color: @mobile-more-menu-button-open-color-hover;
			text-decoration: none;
		}
		i {
			height:  3rem;
			width:  3rem;
			display: block;
			text-align: center;
			font-style: normal;
			background-color: @mobile-more-menu-dropdown-bg-color;
			border-radius: 1.5rem;
			&::before {
				font-family: 'entypo';
				content: "\e999";
				font-size: 1.2rem;
				line-height: 3rem;
				color: @mobile-more-menu-dropdown-color;
			}
		}
	}
	.dropdown-menu {
		position: fixed;
		bottom: 0;
		right: 0;
		top: auto;
		.mixin-mobile-menu(
			@mobile-more-menu-dropdown-color,
			@mobile-more-menu-dropdown-bg-color,
			@mobile-more-menu-dropdown-color-hover,
			@mobile-more-menu-dropdown-bg-color-hover
		);
		& > ul {
			padding-top: 0.625rem;
			padding-left: 0.625rem;
			padding-right: 0.625rem;
			padding-bottom: 4.25rem;
		}
		a.bs-mobile-more-menu-button {
			position: absolute;
			top: 2.5vw;
			background-color: transparent;
			i::before:hover{
				color: @mobile-more-menu-button-close-color-hover;
			}
			i::before {
				font-family: 'entypo';
				content: "\e98d";;
				font-size: 1.5rem;
				color: @mobile-more-menu-dropdown-color;
				background-color: transparen;
				border-radius: 1.5rem;
			}
		}
	}
}

div.bs-mobile-more-menu .dropdown-menu > ul > li > a.calumma-mobile-more-menu-ca-view { display: none; }
.ve-activated div.bs-mobile-more-menu .dropdown-menu > ul > li > a.calumma-mobile-more-menu-ca-view { display: block; }
