.bs-page-tools {
	vertical-align: middle;
	height: auto;
	color: @bs-color-neutral3;
	display: table-cell;

	a {
		display: inline-block;

		i::before {
			color: @bs-color-neutral3;
		}


		&:hover {
			text-decoration: none;

			i::before {
				color: @bs-color-neutral;
			}
		}
	}

	.page-tool-icon {
		padding-left: 0.3125rem;

		i {
			font-size: 1.5rem;

			&::before {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.page-tool-text {
		padding-left: 0.3125rem;
	}
}