.bs-page-edit {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	max-width: 70%;

	& > ul {
		display:inline-flex;
		flex-wrap:wrap;
		list-style:none;
		margin-bottom: 0;
		padding-left:0;
		justify-content: end;
		min-width: 100%;

		li {
			line-height: 0;

			&:first-child {
				max-width: 80%;
				height: max-content;
				margin: auto;
			}
		}
	}

	.bs-page-edit-button-group {
		margin-left: 0.625rem;
		min-height: 1.8125rem;
		border: 1px solid @page-header-page-edit-bg-color;
		border-radius: 0.1875rem;
		background-color: @page-header-page-edit-bg-color;

		& > a.btn {
			color: @page-header-page-edit-color;
			font-weight: bold;
			line-height: 0.75rem;

			&:hover {
				text-decoration: none;
			}
		}

		a.btn {
			&.dropdown-toggle {
				padding-left: 0.625rem;
				padding-right: 0.625rem;

				i::after {
					font-family: 'fontawesome';
					content: "\f0d7";
					font-style: normal;
					font-weight: normal;
				}
			}
		}

		.dropdown-menu {
			top: 2.5rem;
			.mixin-dropdown-menu(
					@page-header-page-edit-color,
					@page-header-page-edit-bg-color,
					@page-header-page-edit-color-hover,
					@page-header-page-edit-bg-color-hover
				);

				&::before {
					right: 2rem;
				}
		}

		&.open {
			a.btn {
				&.dropdown-toggle {
					i::after {
						content: "\f0d8";
					}
				}
			}
		}
	}

	.bs-page-last-edit {
		line-height: 0.875rem;
		display: inline-block;

		a {
			color: @link-color;

			&:hover,
			&:focus {
				color: @link-color;
				text-decoration: none;
			}
		}

		&::before {
			padding-right: 0.3125rem;
			font-family: 'icomoon';
			content: "\ea0c";
			color: @link-color;
		}
	}

	.bs-page-watch {
		line-height: 0.875rem;
		display: inline-block;
		min-width: 5rem;

		a {
			color: @link-color;

			&:hover,
			&:focus {
				color: @link-color;
				text-decoration: none;
			}
		}
	}
}