.bs-page-header {
	 .bs-page-categories {
		.bs-category-add-category {
			color: @theme-content-link-fg;
		}

		.bs-category-container-add-category {
			.x-form-text-default .x-tagfield-item {
				border: 1px solid @bs-color-neutral3; //TODO: use theme variable
			}
		}

		a {
			.mixin-link-title-color(
				@theme-content-link-fg,
				@theme-content-link-fg-hover,
				@theme-content-link-new-fg,
				@theme-content-link-new-fg-hover
			);

			&.pill {
				border: 1px solid @bs-color-neutral3; //TODO: use theme variable
			}
		}
	}
}
