.bs-page-info-element {
	max-width: 52%;
	width: 100%;
	line-height: 0.875em;

	& > ul {
		list-style:none;
		margin-bottom: 0;
		padding-left:0;
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;

		& > li {
			height: max-content;
			max-width: 100%;
			width: auto;
			margin-left: 0.3125em;
			margin-bottom: 0.625rem;

			& > ul {
				max-width: 100%;
				padding-left: 0;
				display: flex;
				flex-wrap: wrap;
				}
			}
		}

	.bs-page-info-element-text-col {
		display: block;
		max-width: 95%;
	}

	.bs-page-info-element-button-col {
		display: inline-block;
	}

	.bs-page-info-element-button {
		height: 100%;
		color: @link-color;

		i::before {
			font-family: icomoon;
			content: "\e9a6";
			font-style: normal;
			margin-right: 0.3125em;
			margin-left: 0;
		}

		&:hover,
		&:focus {
			color: @link-color;
			text-decoration: none;
		}
	}

	.dropdown {
		& > a {
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
		&.open {
			.dropdown-toggle::before {
				font-family: 'fontawesome';
				content: "\f0d8";
			}
		}

		.dropdown-toggle {
			color: @link-color;
			margin-left: 0.3em;

			&:hover,
			&:focus {
				color: @link-color;
				text-decoration: none;
			}

			&::before {
				font-family: 'fontawesome';
				content: "\f0d7";
				margin-left: 0.1875em;
				margin-right: 0.1875em;
			}
		}

		.dropdown-menu {
			& > ul {
				list-style-type: none;
				padding: 0;
				margin: 0;

				& > li {
					a {
						display: block;
						width: 100%;
						min-height: 1.875em;
						line-height: 1.875em;
						padding-left: 0.3125em;
						padding-right: 0.3125em;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.bs-page-watch {
		min-width: 5em;

		a {
			color: @link-color;

			&:hover,
			&:focus {
				color: @link-color;
				text-decoration: none;
			}
		}
	}
}

html.ve-active {
	.bs-page-categories,
	.bs-page-info-element,
	.bs-page-edit {
		display: none;
	}
}
