.bs-page-edit-elements {
	& > ul {
		display: inline-flex;
		flex-wrap: nowrap;
	}

	.icon-info::before {
		float: left;
		padding-right: 0.3125em;
		font-family: 'icomoon';
		content: "\ea0c";
	}
}

#ca-watch .mw-watchlink {
	line-height: 0;
}