.bs-page-before-header {
	.bs-page-breadcrumbs {
		display: contents;

		a {
			color: @link-color;

			&:hover {
				text-decoration: none;
			}
		}

		span {
			line-height: 0.625rem;
			font-size: 0.75rem;
			color: @page-header-breadcrumbs-color;
		}
	}
}

.bs-breadcrumbs-namespace-separator::before {
	content: ":";
	color: @page-header-breadcrumbs-color;
}

.bs-breadcrumbs-separator::before {
	content: ">";
	color: @page-header-breadcrumbs-color;
}

.bs-breadcrumbs-subpages-separator::before {
	content: ">";
	color: @page-header-breadcrumbs-color;
}

#bs-breadcrumbs-pages {
	.mixin-breadcrumb-dropdown();

	.bs-breadcrumbs-current-title,
	.dropdown-toggle,
	.dropdown-toggle:hover {
		font-weight: @font-weight-bold;
		color: @page-header-breadcrumbs-color;
	}
}
#bs-breadcrumbs-subpages {
	.mixin-breadcrumb-dropdown();
}

.mixin-breadcrumb-dropdown() {
	.dropdown-toggle::after {
		padding-left: 0.325rem;
		padding-right: 0.325rem;
		font-family: 'fontawesome';
		font-weight: @font-weight-bold;
		content: "\f0d7";
		color: @page-header-breadcrumbs-color;
	}

	&.open {
		.dropdown-toggle::after {
			content: "\f0d8";
		}


		&::after {
			margin-top: 1.1rem;
			left: 1rem;
			font-size: 1.56em;
			font-family: 'fontawesome';
			content: "\f0d8";
			position: absolute;
			color: rgba(0,0,0,0.15);
		}
	}

	.dropdown-menu {
		margin-top: 0.5rem;
		right: -0.333rem;

		li {
			a {
				display: block;
				width: 100%;
				line-height: 1.875rem;
				min-height: 1.875rem;
				padding-left: 0.333rem;
				padding-right: 0.333rem;
				font-size: 0.75rem;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

	}
}
