.bs-page-before-header {
    margin-top: 1.3125rem;

	.bs-page-breadcrumbs,
	.bs-page-namespaces {
		vertical-align: middle;
		height: auto;

		a {
			line-height: 0.625rem;

			&:hover {
				text-decoration: none;
			}
		}

		a:not( .new ) {
			color: @link-color;
		}
	}

	.bs-page-namespaces {
		a + a {
			margin-left: 1.125rem;
		}

		a.selected {
			color: @page-header-namespace-selected;
			font-weight: @font-weight-bold;
		}
	}
}

.bs-page-header {
	margin-top: 1rem;
	color: @page-header-qualificationband-color;
}

.bs-page-separator {
	margin-top: 0.625rem;
	margin-top: 0.625rem;

	&.v-line {
		border-bottom: 2px solid @bs-seperator-line-color;
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
	}
}


.bs-firstHeading-container {
	width: 100%;
}

.bs-page-after-header {
	margin-top: 0;
	color: @page-header-metaband-color;
}
