.bs-page-before-header {
	.bs-page-breadcrumbs {
		display: contents;

		a {
			.mixin-link-title-color(
						@link-color,
						@link-color-hover,
						@link-color-new,
						@link-color-new-hover
					);
		}

		span {
			line-height: 0.625rem;
			color: @page-header-breadcrumbs-color;
		}

		.dropdown-menu {
			.mixin-dropdown-menu(
					@page-header-breadcrumbs-dropdown-color,
					@page-header-breadcrumbs-dropdown-bg-color,
					@page-header-breadcrumbs-dropdown-color-hover,
					@page-header-breadcrumbs-dropdown-bg-color-hover
				);
			width: auto;
			margin-top: 1rem;

			&::before {
				color: @page-header-breadcrumbs-dropdown-bg-color-hover;
				top: -0.9rem;
				left: 2rem;
			}
		}
	}
}

.bs-breadcrumbs-namespace-separator::before {
	content: ":";
	color: @page-header-breadcrumbs-color;
}

.bs-breadcrumbs-separator::before {
	content: ">";
	color: @page-header-breadcrumbs-color;
}

.bs-breadcrumbs-subpages-separator::before {
	content: ">";
	color: @page-header-breadcrumbs-color;
}

#bs-breadcrumbs-pages {
	.mixin-breadcrumb-dropdown-toggle();

	.bs-breadcrumbs-current-title {
		color: @page-header-breadcrumbs-color;
		font-weight: @font-weight-bold;
	}
}
#bs-breadcrumbs-subpages {
	.mixin-breadcrumb-dropdown-toggle();
}

.mixin-breadcrumb-dropdown-toggle() {
	.mixin-dropdown-toggle-after(
			@page-header-breadcrumbs-color,
			@page-header-breadcrumbs-color
		);

	.dropdown-toggle::after {
		padding-left: 0.325rem;
		padding-right: 0.325rem;
		font-weight: @font-weight-regular;
	}
}
