@x-btn-progressive-small-border-color: @theme-extjs-color-progessive;
@x-btn-progressive-small-bg-color: @theme-extjs-color-progessive;
@x-btn-progressive-small-text-color: @theme-extjs-color-progessive-text;
@x-btn-progressive-small-border-color-hover: @theme-extjs-color-progessive-highlight;
@x-btn-progressive-small-bg-color-hover: @theme-extjs-color-progessive-highlight;
@x-btn-progressive-small-text-color-hover: @theme-extjs-color-progessive-text-highlight;
