.navigation-main{
	top: 0px;
	z-index: 100;
	width: 100vw;

	.tab-pane.active {
		.bs-calumma-sidebar-edit-link {
			display: none;
		}

		&:hover .bs-calumma-sidebar-edit-link {
			display: none;
		}
	}

	#bs-sitenavtabs {
		ul.nav-pills li.calumma-navigation-mobile-hidden {
			display: none;
		}

		ul.nav-pills a > i::before {
			font-size: 2em;
		}

		div.tab-content{
			height: calc(~"100vh - @{navigation-tabs-height} - 15px");
		}
	}

	#bs-sitenav-navigation {
		#bs-mobile-user-container {
			display: block;

			.bs-mobile-user-button.dropdown {
				a.dropdown-toggle {
					line-height: 48px;
					height: 48px;
					background-color: transparent;

					span {
						display: inline-flex;
						justify-content: space-between;
						width: calc(~"100% - 24px - 15px");
						line-height: 48px;

						&::after {
							content: "\e923";
							font-family: "entypo";
							font-style: normal;
						}
					}

					&:hover {
						background-color: @navigation-bg-color-hover;
					}
				}

				a.bs-personal-not-loggedin {
					background-color: transparent;
					border: none;
					border-radius: 0px;
					height: 48px;
					line-height: 28px;
					padding-top: 10px;

					&:hover {
						background-color: @navigation-bg-color-hover;
					}
				}
			}
		}
	}
}