.sidebar-toggle[data-toggle~="navigation-main-collapse"]{
	position: absolute;
	padding: 0.3em 1em 0.2em 1em;
	top: 0;
	left: 0;
	z-index: 12;
	i.navigation-main-collapse::before{
		font-family: 'bs-button';
		content: "\e902";
		font-size: 2em;
		font-style: normal;
		float: left;
	}
	&:hover{
		text-decoration: none;
	}
	&:focus{
		text-decoration: none;
	}

	&.calumma-mobile-visible-close-only {
		top: 0;
		left: auto;
		right: 0.3rem;
		width: 3rem;
		height: 3rem;
		line-height: 3rem;

		i.navigation-main-collapse::before {
			font-family: 'fontawesome';
			content: "\f00d";
		}
	}
}

