.mobile-login-button {
	position: fixed;
	top: 0;
	padding: 0.3rem 1rem 0.2rem 1rem;
	right: 0.5em;

	i.mobile-login-button::before {
		font-family: 'entypo';
		content: "\e9d6";
		font-style: initial;
		font-size: 2rem;
		float: left;
		font-style: normal;
	}
}