header.main-header .navbar {
	a.mobile-search-button {
		position: fixed;
		top: 0;
		padding: 0.3em 1em 0.2em 1em;
		right: 0.5em;
	}

	a.mobile-search-button::before {
		font-family: 'entypo';
		content: "\e9d9";
		font-style: initial;
		font-size: 2em;
		color: @menu-top-color;
		float: left;
	}

	a.mobile-search-button:hover::before {
		color: @menu-top-color-hover;
	}

	.navbar-form.navbar-left.dropdown-menu {
		background-color: @menu-top-bg-color;
		box-shadow: none;
		border: none;
		border-radius: 0;
		position: fixed;
		top: 41px;
		margin-left: 0px;
		margin-top: 8px;
		margin-bottom: 8px;
		padding: 15px;
		width: 100vw;
	}
}

header.main-header .navbar-form {
	.form-group{
		button.btn {
			border-radius: 5px 0px 0px 5px;
			border-right: none;
			padding: 0px 16px 0px 16px;
			float: left;
			height: 32px;
			i.p-search-icon::before {
				font-family: 'entypo';
				font-style: normal;
				font-size: 16px;
				content: "\e9d9";
			}
		}

		input.form-control {
			border-radius: 0px 5px 5px 0px;
			border-left: none;
			box-shadow: none;
			height: 32px;
		}

		& > input.form-control{
			width: calc(~"100vw - 93px");
		}

		#bs-extendedsearch-mobile-box-wrapper {
			width: calc(~"100vw - 93px") !important;

			input.form-control{
				width: 100%  !important;
			}
		}

		.bs-extendedsearch-autocomplete-popup {
			width: calc(~"100vw - 44px") !important;
			padding-top: 10px;

			.bs-extendedsearch-autocomplete-popup-primary-no-results {
				padding-left: 10px;
				//font-style: italic;
			}


			.bs-extendedsearch-autocomplete-popup-top-match-item {
				padding-left: 10px;
			}

			.bs-extendedsearch-autocomplete-popup-create-page-link {
				height: auto;
				min-height: 40px;

				& > a {
					padding-left: 10px;
					padding-top: 0px;
					line-height: 36px;
					height: auto;
					min-height: 40px;
				}
			}

			.bs-extendedsearch-autocomplete-popup-fulltext-search-button > a {
				padding-left: 10px;
				padding-top: 5px;
				line-height: 36px;
			}


			.bs-extendedsearch-autocomplete-popup-special-item-label {
				min-height: 40px;
				height: auto;
			}
		}
	}
}

