header.main-header{
	background-color: @menu-top-bg-color;
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
	ul.dropdown-menu li{
		border: none;
	}
}

.bs-banner {
	display: none;
}

.bs-content.container {
	padding-bottom: 10em;
}

header.main-header {
	height: @menu-top-mobile-height;
	.navbar{
		margin-bottom: 0px;
		padding-left: 1em;
		padding-right: 1em;
	}
}

.loader-indicator.loading {
	top: @menu-top-mobile-height + @banner-top-height;
	height: 3px;
}