.bs-page-edit {
	width: 100%;
	max-width: 100%;

	& > ul {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: flex-start;

		& > li {
			margin: 0;
			margin-bottom: 0.625rem;
		}
	}

	.bs-page-edit-elements {
		width: 100vw;
	}

	.bs-page-last-edit {
		display: block;
		max-width: 90%;
		margin-left: 0;
	}

	.bs-page-watch {
		display: block;
	}
}