header{
	.bs-language-selector {
		position: absolute;
		left: calc( ~"100vw - 10rem" );
		width: 2rem;
		height: @menu-top-height;
		float: right;

		.bs-language-selector-current-language {
			padding-left: 0.1875rem;
			margin-top: 1.25rem;

			i {
				width: 1.5rem;
				height: 1rem;
				display: block;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}

		.dropdown {
			width: 3.125rem;
			position: absolute;
			right: 0;
			.dropdown-toggle {
				display: block;
				position: absolute;
				right: 0;
				width: 2rem;
				padding: 0;
				text-align: center;
			}
			.dropdown-toggle::after {
				font-family: 'fontawesome';
				content: "\f0d7";
				font-size: 120%;
				color: #929292;
				line-height: 1em;
			}
			&.open .dropdown-toggle::after {
				content: "\f0d8";
			}

			.dropdown-menu {
				top: 1.875rem;
				right: 0;
				min-width: 3.125rem;

				&::before {
					font-size: 3rem;
					font-family: 'fontawesome';
					content: "\f0d8";
					position: absolute;
					top: -0.9em;
					right: 0.0625rem;
					color: white;
					height: 1em;
					z-index: -1;
				}

				li a {
					padding: 0.125rem 0.5625rem;

					&:hover {
						background-color: @menu-top-dropdown-bg-color-hover;
					}
				}

				.bs-language-selector-text {
					display: none;
				}
				.bs-language-selector-icon {
					width: 2rem;
					height: 1.5rem;
					display: block;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
		}
	}
}