header .navbar .p-search form {
	padding-left: 3.5rem;
	width: calc(~"100% + 1.25rem") !important;
	max-width: calc(~"50vw - 1.25rem") !important;

	.form-group{
		& > #bs-extendedsearch-input {
			max-width: 42,6875rem !important;
		}

		#bs-extendedsearch-box-wrapper {
			width: calc(~"100% - 3rem") !important;
			max-width: 42,6875rem  !important;
		}

		.bs-extendedsearch-autocomplete-popup {
			min-width: calc(~"50vw - 9.5rem") !important;
			width: 100% !important;
			max-width: 100% !important;
		}
	}
}