header .navbar .p-search form {
	left: 300px;
	top: @menu-top-items-margin;
	padding-left: calc(~"( 50vw - 745px )");
	width: calc(~"100% + 20px") !important;
	max-width: calc(~"50vw - 20px") !important;

	.form-group{
		& > #bs-extendedsearch-input {
			width: 100%;
			max-width: 683px !important;
		}

		#bs-extendedsearch-box-wrapper {
			width: calc(~"100% - 48px") !important;
			max-width: 683px  !important;

			input.form-control{
				width: 100% !important;
			}
		}

		.bs-extendedsearch-autocomplete-popup {
			min-width: calc(~"50vw - 152px") !important;
			width: 100% !important;
			max-width: 100% !important;

			.bs-extendedsearch-autocomplete-popup-create-page-link {
				&,
				a {
					height: auto;
					min-height: 40px
				}
			}

			.bs-extendedsearch-autocomplete-popup-special-item-label {
				min-height: 40px;
				height: auto;
			}
		}
	}
}
