body.mediawiki,
body.mediawiki.x-body {
	&:not( .navigation-main-collapse ):not( .sitetools-main-collapse ) {
		.content-wrapper {
			transition: padding .3s;
			padding-left: 0;
			padding-right: 0;
		}
		.bs-content.container {
			width: calc(~"( 100vw - 46.875rem )");
			max-width: @bs-content-width;
			margin-left: auto;
		}
	}

	/* collapsing elements */
	&.navigation-main-collapse.sitetools-main-collapse {
		.content-wrapper {
			padding-left: 0;
			padding-right: 0;
			transition: padding .3s;
		}
		.bs-content.container {
			width: auto;
			margin-left: auto;
			margin-right: auto;

		}
	}

	&:not( .navigation-main-collapse ).sitetools-main-collapse {
		.content-wrapper {
			padding-left: 0;
			padding-right: 0;
			transition: padding .3s;
		}
		.bs-content.container {
			width: calc( ~"100vw - ( @{navigation-main-width} + ( 2 * 3.5rem ) )" );
			margin-right: calc(~"50vw - ( @{bs-content-width} / 2 + ( 2 * 3.5rem ) )");
		}
	}

	&:not( .sitetools-main-collapse ).navigation-main-collapse {
		.content-wrapper {
			transition: padding .3s;
			padding-left: 0;
			padding-right: 0;
		}
		.bs-content.container {
			width: calc( ~"100vw - ( @{navigation-main-width} + ( 2 * 3.5rem ) )" );
			margin-left: calc(~"50vw - ( @{bs-content-width} / 2 + ( 2 * 3.5rem ) )");
		}
	}
}