#bs-top {
	right: calc(~"@{sitetools-main-width} + 0.625rem" );
	bottom: 1.25rem;
	transition: right .3s;
	display: block;
}
.sitetools-main-collapse #bs-top {
	right: 0.625rem;
	transition: right .3s;
}