/* top */
@menu-top-bg-color: lighten( @bs-color-neutral , 28% );
@menu-top-color: @bs-color-neutral;
@menu-top-color-hover: @bs-color-primary;
@menu-top-border-bottom: 1px solid @bs-color-neutral;
@menu-top-login-btn-color: @bs-color-primary;
@menu-top-login-btn-color-hover: #98A7C4;;

/* featured action buttons */
@menu-top-featuredactions-bg-color: @bs-color-primary;
@menu-top-featuredactions-bg-color-hover: #0060DF;
@menu-top-featuredactions-bg-color-disabled: #98A7C4;
@menu-top-featuredactions-color: white;
@menu-top-featuredactions-color-hover: white;

/* featured actions dropdown, user container dropdown*/
@menu-top-dropdown-bg-color: @bs-color-primary;
@menu-top-dropdown-bg-color-hover: #98A7C4;
@menu-top-dropdown-color: white;
@menu-top-dropdown-color-hover: white;

/* page header breadcrumbs */
@page-header-breadcrumbs-color: #666666;
@page-header-breadcrumbs-dropdown-color: #666666;
@page-header-breadcrumbs-dropdown-bg-color: white;
@page-header-breadcrumbs-dropdown-color-hover: white;
@page-header-breadcrumbs-dropdown-bg-color-hover: @bs-color-neutral3;

/* page header namespaces */
@page-header-namespace-selected: #666666;
@page-header-namespaces-dropdown-color: #666666;
@page-header-namespaces-dropdown-bg-color: white;
@page-header-namespaces-dropdown-color-hover: white;
@page-header-namespaces-dropdown-bg-color-hover: @bs-color-neutral3;

/* page header page edit button */
@page-header-page-edit-bg-color: @link-color;
@page-header-page-edit-bg-color-hover: #98A7C4;
@page-header-page-edit-color: white;
@page-header-page-edit-color-hover: white;

/* page header page edit button */
@page-header-qualificationband-color: darken( @bs-color-neutral, 17.3% );
@page-header-metaband-color: darken( @bs-color-neutral, 17.3% );

/* custommenu header */
@custom-menu-header-bg-color: #999999;
@custom-menu-header-bg-color-hover: #A9A9A9;
@custom-menu-header-color: white;
@custom-menu-header-color-hover: white;

/* navigation-main*/
/* toggle button */
@navigation-toggle-btn-color: @bs-color-primary;
@navigation-toggle-btn-color-hover: #0060DF;

/* tabs */
@navigation-tabs-bg-color: transparent;
@navigation-tab-bg-color: transparent;
@navigation-tab-bg-color-hover: transparent;
@navigation-tab-bg-color-active: transparent;
@navigation-tab-color: #98A7C4;
@navigation-tab-color-hover: white;
@navigation-tab-color-active: white;

/* panels */
@navigation-bg-color: @bs-color-primary;
@navigation-bg-color-hover: #98A7C4;
@navigation-color: white;
@navigation-color-hover: white;

/* graphical list */
@navigation-graphicallist-bg-color: #98A7C4;
@navigation-graphicallist-color: white;
@navigation-graphicallist-color-hover: @bs-color-primary;

/* sitetools-main */
/* toggle button */
@sitetools-toggle-btn-color: @bs-color-primary;
@sitetools-toggle-btn-color-hover: #0060DF;

/* tabs */
@sitetools-tabs-bg-color: transparent;
@sitetools-tab-bg-color: transparent;
@sitetools-tab-bg-color-hover: transparent;
@sitetools-tab-bg-color-active: transparent;
@sitetools-tab-color: @bs-color-neutral3;
@sitetools-tab-color-hover: @bs-color-neutral;
@sitetools-tab-color-active: @bs-color-neutral;

/* panels */
@sitetools-bg-color: white;
@sitetools-bg-color-hover: #f4f4f4;
@sitetools-color: darken( @bs-color-neutral, 17.3% );
@sitetools-color-hover: darken( @bs-color-neutral, 17.3% );
/* graphical list */
@sitetools-graphicallist-bg-color: #F4F4F4;
@sitetools-graphicallist-color: #666666;
@sitetools-graphicallist-color-hover: white;

/* mobilemoremenu.less */
@mobile-more-menu-button-open-color: @bs-color-primary;
@mobile-more-menu-button-open-color-hover: @bs-color-secondary;
@mobile-more-menu-button-close-color: white;
@mobile-more-menu-button-close-color-hover: @bs-color-secondary;

@mobile-more-menu-dropdown-bg-color: @bs-color-primary;
@mobile-more-menu-dropdown-bg-color-hover: #98A7C4;
@mobile-more-menu-dropdown-color: white;
@mobile-more-menu-dropdown-color-hover: white;

/* back to top */
@backtotop-color: #0060DF;
@backtotop-color-hover: #006EFF;

/* footer */
@footer-link-color: #0060DF;
@footer-link-color-hover: #006EFF;

@link-color: #0060DF;
@link-color-hover: #006EFF;
@link-color-new: #B73A3A;
@link-color-new-hover: #E92121;//.new
@notification-color: #FFB100;
