
/* page header mw-indicators */
@page-header-mw-indicators-color: @page-header-metaband-color;
@page-header-mw-indicators-color-hover: @page-header-metaband-color;

/* page header page edit button */
@page-header-qualificationband-color: darken( @bs-color-neutral, 17.3% );
@page-header-metaband-color: darken( @bs-color-neutral, 17.3% );

/* separator line */
@bs-separator-line-color: lighten( @bs-color-neutral, 34% );

@notification-color: #FFB100;
