/* page header breadcrumbs */
@page-header-breadcrumbs-color: #666666;
@page-header-breadcrumbs-dropdown-color: #666666;
@page-header-breadcrumbs-dropdown-bg-color: white;
@page-header-breadcrumbs-dropdown-color-hover: white;
@page-header-breadcrumbs-dropdown-bg-color-hover: @bs-color-neutral3;

/* page header namespaces */
@page-header-namespace-selected: #666666;
@page-header-namespaces-dropdown-color: #666666;
@page-header-namespaces-dropdown-bg-color: white;
@page-header-namespaces-dropdown-color-hover: white;
@page-header-namespaces-dropdown-bg-color-hover: @bs-color-neutral3;

/* page header mw-indicators */
@page-header-mw-indicators-color: @page-header-metaband-color;
@page-header-mw-indicators-color-hover: @page-header-metaband-color;

/* page header page edit button */
@page-header-qualificationband-color: darken( @bs-color-neutral, 17.3% );
@page-header-metaband-color: darken( @bs-color-neutral, 17.3% );

/* separator line */
@bs-separator-line-color: lighten( @bs-color-neutral, 34% );

/* graphical list */
@navigation-graphicallist-bg-color: #98A7C4;
@navigation-graphicallist-color: white;
@navigation-graphicallist-color-hover: @bs-color-primary;


/* graphical list */
@sitetools-graphicallist-bg-color: #F4F4F4;
@sitetools-graphicallist-color: #666666;
@sitetools-graphicallist-color-hover: white;



/* link */
@link-color: #0060DF;
@link-color-hover: #006EFF;
@bs-color-tertiary: #B73A3A;
@bs-color-tertiary-hover: #E92121;//.new original #ba0000
@notification-color: #FFB100;
