@import "dimensions.less";
@import "colors.less";

@media ( min-width: 1201px ){
    body.mediawiki.ns-2 {
	.bs-banner{
	    background: url("../images/upbackground.PNG");
	    background-size: auto;
	    height: @banner-top-height;
	}
	header.main-header{
	    top: @banner-top-height;
	}
	.wrapper{
	    margin-top: @menu-top-height + @banner-top-height;
	}
	.sidebar-toggle[data-toggle~="navigation-main-collapse"],
	.sidebar-toggle[data-toggle~="sitetools-main-collapse"]{
	    top: @menu-top-height + @banner-top-height;
	}
	.navigation-main,
	.sitetools-main{
	    top: @menu-top-height + @banner-top-height;
	}
	.dynamic-graphical-list-outer-east,
	.dynamic-graphical-list-outer-west,
	.dynamic-graphical-list-outer-south {
	    top: @menu-top-height + @banner-top-height;
	}
    }
}
