@media ( min-width: 1201px ) {
	body.ns-special{}
}

.mw-htmlform fieldset {
	border: none;
	border-radius: 0.1875rem;
	background-color: rgba( 0,0,0,0.05 );

	legend {
		background-color: #c8ccd1; /* MediaWiki UI "Disabled" */
		border-radius: 0.1875rem;
		padding: 0.1em 0.4em;
		margin-bottom: 0.5em;
	}

	label {
		margin-right: 1em;
	}

	.mw-ui-input, .mw-ui-checkbox {
		margin: 0.5em 0;
	}
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button
{
	color: #fff !important;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
	color: #fff !important;
}

.x-tab-default-focus {
	background-color: #527dd4 !important;
}


/* Special:AllPages */
body.ns-special .mw-allpages-body {
	columns: 32em 2;
	-moz-columns: 32em 2;
	-webkit-columns: 32em 2;

	ul > li {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

/* Special:Specialpages */
body.ns-special {
	#content #bodyContent {
		li.mw-specialpagerestricted {
			& > a {
				font-weight: bold;
			}
		}
	}
}

.mw-userlogin-help {
	display: none;
}