@media ( min-width: 1201px ) {
	/* visualeditor */
	.ve-ui-overlay-global {
		z-index: 999 !important;
	}

	.ve-ui-toolbar-floating > .oo-ui-toolbar-bar {
		top: 65px !important;
	}

	/* editor */
	.wikiEditor-ui-top {
		height: 0px;
	}
	#wikiEditor-section-characters .pages span {
		height: 1.5em;
	}

}