
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button
{
	color: #fff !important;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary > .oo-ui-buttonElement-button {
	color: #fff !important;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
	color: #fff !important;
}

.x-tab-default-focus {
	background-color: #527dd4 !important;
}



body.ns-special {
	/* Special:AllPages */
	.mw-allpages-body {
		columns: 32em 2;
		-moz-columns: 32em 2;
		-webkit-columns: 32em 2;

		ul > li {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	/* Special:Specialpages */
	#content #bodyContent {
		li.mw-specialpagerestricted {
			& > a {
				font-weight: bold;
			}
		}
	}

	/* Special:CategoryTree */
	&.mw-special-CategoryTree .oo-ui-defaultOverlay {
		z-index: 200;
	}

	/* Special:Preferences */
	&.mw-special-Preferences #mw-prefs-form .oo-ui-fieldLayout-field label {
		font-weight: normal;
	}
}

.mw-userlogin-help {
	display: none;
}


form[id^=mw] table {
	border-collapse: separate;
	border-spacing: 2px;
}

