@media ( max-width: 720px ) {
	/* visualeditor */
	.ve-ui-overlay-global {
		z-index: 999 !important;
	}

	.ve-ui-toolbar-floating > .oo-ui-toolbar-bar {
		top: 50px !important;
	}

	.oo-ui-processDialog-actions-primary .oo-ui-widget-enabled a {
		color: #FFFFFF !important;
	}

	.oo-ui-processDialog-actions-safe .oo-ui-widget-enabled a {
		color: #222222 !important;
	}

	/* editor */
	.wikiEditor-ui-top {
		height: 0px;
	}
	#wikiEditor-section-characters .pages span {
		height: 1.5rem;
	}
}
