@import "../../fonts.less";

.dynamic-graphical-list-outer .bs-flyout-two-columns.x-panel.x-panel-default .x-panel.x-panel-default {
	.bs-pageassignments-flyout-form {
		.x-form-item-body.x-form-item-body-default {
			.x-form-text-wrap {
				width: calc(~"100% - 2rem") !important;
			}
			.x-form-trigger-wrap {
				.x-form-trigger.x-form-arrow-trigger {
					width: 2rem !important;
				}
			}
		}
	}
	.bs-pageassignments-flyout-grid-item-user {
		.bs-userminiprofile {
			float: left;
			margin-right: 0.625rem;
		}
		&>span {
			line-height: 1.75rem;
		}
	}
}
