@import "../../fonts.less";

.dynamic-graphical-list-outer .bs-flyout-two-columns.x-panel.x-panel-default .x-panel.x-panel-default {
	.bs-expiry-flyout-form {
		.x-form-item-body.x-form-item-body-default {
			.x-form-text-wrap {
				width: calc(~"100% - 2rem") !important;
			}
			.x-form-trigger-wrap {
				.x-form-trigger.x-form-date-trigger {
					width: 2rem !important;
				}
			}
		}
		.x-form-type-checkbox {
			.x-form-item-label.x-form-item-label-default.x-form-item-label-right {
				padding-right: 0.3125rem;
				width:  15.625rem !important;
				text-align: left !important;
				.x-form-item-label-inner.x-form-item-label-inner-default {
					width:  15.625rem !important;
				}
			}
		}
	}
}
