@import "../../fonts.less";

.dynamic-graphical-list-outer .bs-flyout-two-columns.x-panel.x-panel-default .x-panel.x-panel-default {
	.bs-reminder-flyout-form {
		.x-form-item-body.x-form-item-body-default {
			.x-form-text-wrap {
				width: calc(~"100% - 2rem") !important;
			}
			.x-form-trigger-wrap {
				.x-form-trigger.x-form-arrow-trigger,
				.x-form-trigger.x-form-date-trigger {
					width: 2rem !important;
				}
			}
		}
	}
	.bs-reminder-flyout-grid-user-image {
		border-radius: 1.5rem;
		margin-right: 0.3125rem;
	}
}
