<div class="bs-version-pager">
	<div class="bs-page-separator v-line"></div>
	{{#prev}}
	<div class="pull-left">
		<a class="bs-icon-arrow-left prev" href="{{href}}" title="{{title}}"></a>
	</div>
	{{/prev}}
	{{#next}}
	<div class="pull-right">
		<a class="bs-icon-arrow-right next" href="{{href}}" title="{{title}}"></a>
	</div>
	{{/next}}
	<div class="bs-version-pager-info" >
		{{{info}}}
	</div>
</div>
<div class="visualClear"></div>
