#firstHeading {
	font-family: @font-family-primary;
	font-weight: @font-weight-medium;
	font-size: 2.5rem;
	border-bottom: none;
	margin-top: 1.25rem;
	margin-bottom: 1.5rem;
	line-height: 3.2rem;
	padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	.mw-editsection {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.5s linear;
	}

	&:hover .mw-editsection {
		visibility: visible;
		opacity: 1;
	}
}

h1 {
	font-weight: @font-weight-medium;
	font-size: 2rem;
	margin-bottom: 0.9375rem;
	margin-top: 2rem;
}
h2 {
	font-size: 1.8rem;
	font-weight: @font-weight-medium;
	margin-top: 1.8rem;
	margin-bottom: 0.9375rem;
	background-color: transparent;
	border-bottom: 1px solid rgb( 51, 51, 51 );
}
h3 {
	font-size: 1.6rem;
	font-weight: @font-weight-medium;
	margin-top: 1.6rem;
	margin-bottom: 0.9375rem;
}
h4 {
	font-size: 1.4rem;
	font-weight: @font-weight-bold;
	margin-top: 1.4rem;
	margin-bottom: 0.9375rem;
}
h5 {
	font-size: 1.25rem;
	font-weight: @font-weight-bold;
		margin-top: 1.25rem;
}
h6 {
	font-size: 1.0625rem;
	font-weight: @font-weight-bold;
		margin-top: 1.0625rem;
}