#content {
	.toc {
		background: @bs-background-primary;
		.toctogglelabel {
			font-weight: normal;
			color: @theme-content-link-fg;
			&:hover {
				color: @theme-content-link-fg-hover;
			}
		}
		li {
			a {
				color: @theme-content-link-fg;
				&:hover {
					color: @theme-content-link-fg-hover;
				}
			}
		}
	}
}