header{
	.bs-language-selector {
		position: absolute;
		right: 2.4rem;
		width: 1.5rem;
		height: @menu-top-height;
		float: right;

		.bs-language-selector-current-language {
			padding-left: 0.1875rem;
			margin-top: 2.5rem;

			i {
				width: 1.2rem;
				height: 0.8rem;
				display: block;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}

		.dropdown {
			width: 3.125rem;
			position: absolute;
			right: 0;
			.dropdown-toggle {
				display: block;
				position: absolute;
				right: 0.25rem;
				top: -0.3rem;
				width: 0.8rem;
				padding: 0;
				text-align: center;
			}
			.dropdown-toggle::after {
				font-family: 'fontawesome';
				content: "\f0d7";
				font-size: 120%;
				color: #929292;
				line-height: 1em;
			}
			&.open .dropdown-toggle::after {
				content: "\f0d8";
			}

			.dropdown-menu {
				top: 1.875rem;
				right: -0.5rem;
				min-width: 3.125rem;

				&::before {
					font-size: 3rem;
					font-family: 'fontawesome';
					content: "\f0d8";
					position: absolute;
					top: -0.93em;
					right: 0.125rem;
					color: lighten( @bs-color-neutral , 28% );
					height: 1em;
					z-index: -1;
				}

				li a {
					padding: 0.125rem 0.5625rem;

					&:hover {
						background-color: @menu-top-dropdown-bg-color-hover;
					}
				}

				.bs-language-selector-text {
					display: none;
				}
				.bs-language-selector-icon {
					width: 100%;
					height: 1.5rem;
					display: block;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center center;
				}
			}
		}
	}
}