.bs-button-user{
	float: right;
	width: 12.5rem;
	margin-top: @menu-top-items-margin - 0.5rem;
	.bs-personal-not-loggedin {
		line-height: 3rem;
		font-size: 1rem;
		font-weight: 700;
		right: 5rem;
		position: fixed;
		color: @menu-top-login-btn-color;
		&:hover{
			text-decoration: none;
			color: @menu-top-login-btn-color-hover;
		}
	}
	.bs-profile-img{
		border-radius: 8rem;
		left: 3.5rem;
		position: relative;
		object-fit: cover;
	}
	.bs-personal-menu-container{
		top: 3.75rem;

		.mixin-dropdown-menu(
			@menu-top-dropdown-color,
			@menu-top-dropdown-bg-color,
			@menu-top-dropdown-color-hover,
			@menu-top-dropdown-bg-color-hover
		);

		&::before {
			left: 3.25rem;
		}
	}
	#bs-personal-menu{
		.bs-userbutton-notifications-link::after{
			content: attr(data-notifications-badge-text);
			float: right;
			color: @notification-color;
			font-weight: @font-weight-bold;
		}
		.separator {
			display: block;
			width: 100%;
			border-bottom: 1.125rem solid @menu-top-dropdown-bg-color;
		}
	}
	.bs-userbutton-notifications-badge {
		width: 2.5em;
		height: 2.5em;
		background-color: @notification-color;
		color: white;
		font-weight: @font-weight-bold;
		border-radius: 1.5em;
		text-align: center;
		line-height: 2.5em;
		font-size: 0.6875rem;
		position: absolute;
		left: 6rem;
		top: -0.2rem;
		z-index: 100;
	}
}
