.mixin-link-color( @color, @color-hover ) {
	&,
	&:visited {
		color: @color;
	}

	&:hover {
		color: @color-hover;
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.mixin-link-title-color( @color, @color-hover, @color-new, @color-new-hover ) {
	&,
	&:link {
		&:not( .new ) {
			&,
			&:visited {
				color: @color;
			}

			&:hover {
				color: @color-hover;
			}
		}

		&.new {
			&,
			&:visited {
				color: @color-new;
			}

			&:hover{
				color: @color-new-hover;
			}
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}